@charset "utf-8";

body{
  width: 1080px;
  position: relative;
}
header {
  height: 155px;
  border-bottom: 5px solid #003879;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 45px;
  padding-right: 45px;
}
header h1 a{
  display: block;
}
header button{
  width: 72px;
  margin-top: 30px;
  text-align: center;
}
header button i{
  font-size: 72px;
  color: #0056a2;
}
header>a{
  width: 79px;
  height: 79px;
  background: #f0f1f0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content:center;
  margin-top: 30px;
}
header>a>i {
  font-size:48px;
  color: #0056a2;
}
.main_nav{
  width: 100%;
  height:100%;
  position: absolute;
  top:155px;
  left: 0;
  display: none;
  z-index: 1;
  background: #fff;
}
.main_nav ul li{
  width: 100%;
  border-bottom: 2px solid #003879;
  background: #f4f7f8;
  height: 160px;
}
.main_nav ul li a{
  color: #4f4f4f;
  font-weight: 400;
  font-size: 50px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer{
  padding: 50px 0;
  border-top: 2px solid #cccccc;
  border-bottom: 2px solid #cccccc;
  text-align: center;
}
footer ul{
  display: flex;
  align-items: center;
  justify-content:center;
  margin-bottom: 45px;
}
footer ul li{
  position: relative;
}
footer ul li:last-child::after{
  display: none;
}
footer ul li::after{
  content: "";
  display: block;
  position: absolute;
  width: 2px;
  height: 38px;
  top: 10px;
  right:0px;
  background: #dcdcdc;
}
footer ul li a{
  padding: 0 30px;
  font-size: 36px;
  color: #656565;
  font-weight: normal;
}
.copyright{
  font-size: 36px;
  color: #999999;
}

.register{
  padding-top: 80px;
  text-align: center;
}
.register h2{
  font-size: 56px;
  font-weight: bold;
  margin-bottom: 60px;
}
.register>p{
 color: #656565;
 font-size: 42px;
 margin-bottom: 50px;
}


.main header{
  justify-content: flex-end;
  border: 0px;
}
.main_wrap h2 {
  text-align: center;
}
.main_wrap h2 img {
 margin-top: 170px;
}

.search_box{
  margin-top: -3px;
  margin-bottom: 10px;
  padding: 27px 40px;
  background: #003879
}
.main .search_box{
  margin-top: 50px;
  background: #fff
}
.input_wrap{
  width: 100%;
  position: relative;

}
.input_wrap input{
  width: 100%;
  border: 2px solid #0056a2;
  padding: 0 50px;
  height: 115px;
  font-size: 40px;
  border-radius: 10px;
  
}
.input_wrap button{
  display: block;
  position: absolute;
  top:0px;
  right:27px;
  text-align: right;
  height: 115px;
}
.input_wrap button i{
  font-size: 60px;
  color: #0056a2;

}

.control_wrap{
  width: 100%;
  padding: 0 40px;
  display: block;
  margin-bottom: 25px;
  
}
.control_wrap::after{
  content: "";
  display: block;
  clear: both;
}
.control_wrap .left_btn {
  float: left;
}
.control_wrap .right_btn {
  float: right;
}
.box_menu{
  margin-bottom: 385px;
}
.box_menu>li{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.box_menu>li a {
  display: block;
  width: 308px;
  height: 308px;
  border: 3px solid #eceff3;
  border-radius: 10px;
  margin: 20px;
}
.box_menu>li a p{
  display: flex;
  height: 200px;
  align-items: center;
  justify-content: center;
  margin-top: 15px;

}
.box_menu>li a span{
  display: block;
  text-align: center;
  font-size: 40px;
  font-weight: 300;
}
.input_area{
  padding: 0px 42px;
}
.input_area input {
  width: 100%;
  display: block;
  font-size: 42px;
  padding: 43px 50px;
  border: 5px solid #eceff3;
  margin-bottom: 45px;
}
.input_area button{
  width: 100%;
  display: block;
  font-size: 50px;
  font-weight: bold;
  color: #fff;
  background: #003879;
  border: 5px solid #eceff3;
  padding: 30px 0px;
  text-align: center;
}
.input_area>ul{
  display: flex;
  align-items: center;
  justify-content:center;
}
.input_area>ul {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}

.input_area>ul li {
  position: relative;
}

.input_area>ul li:last-child::after {
  display: none;
}

.input_area>ul li::after {
  content: "";
  display: block;
  position: absolute;
  width: 4px;
  height: 45px;
  top: 10px;
  right: -2px;
  background: #dcdcdc;
}
.input_area>ul li a{
  padding: 0 60px;
  font-size: 42px;
  color: #656565;
  font-weight: normal;
}
.linkage_box{
  background: #f4f7f8;
  padding: 130px 0;
  margin-top: 70px;
}
.linkage_box>p{
  font-size: 52px;
  text-align: center;
}
.linkage_box>ul{
  margin-top: 60px;
  margin-bottom: 60px;
  display: flex;
  align-items: center;
  justify-content:center;
}
.linkage_box>ul>li{
  margin: 0 25px;
}
.linkage_box span{
  text-align: center;
  display: block;
  color: #656565;
  font-size: 42px;
}
.sub_nav{
  display: flex;
  justify-content: center;
  border-bottom: 4px solid #c8c8c8;
  margin-bottom: 40px;
}
.sub_nav li{
  padding: 0 10px;
}
.sub_nav li a{
  display: block;
  padding: 45px 15px;
  font-size: 42px;
}
.sub_nav li:first-child a {
  color: #0056a2;
  font-weight: bold;
  border-bottom: 7px solid #0056a2;
  margin-bottom: -4px;
}
.con_area{
  margin-top: 10px;
}
.con_box{
  border-top: 2px solid #eceff3;
  border-bottom: 2px solid #eceff3;
  padding: 0 40px;
  padding-top: 20px;
  margin-bottom: 80px;
}
.con_box .title{
  font-size: 54px;
  color: #003879;
  overflow: hidden;
  font-weight: normal;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
  padding-bottom: 10px;
}
.sns .con_box .title span em{
  color: #dc000c;
}
.sns .con_box .title span span{
  color: #000;
}
.report .con_box .title{
  font-weight: 300;
}
.con_box .title a{
  display: block;
  padding: 20px;
}
.report .con_box .title a {
  padding-right: 0;
  margin-right: -25px;
  font-size: 31px;
  color: #004ca0;
}
.board_con{
  border-top: 2px solid #dcdddd;
}
.con_box .board_con:first-child{
  border-top: 0px ;
}
.board_con{
  padding: 20px 25px;
}
.sns .board_con{
  display: table;
  width: 100%;
}
.report .board_con {
  display: table;
  width: 100%;
  padding-right: 0px;
}
.thumbnail {
  width: 250px;
  display: table-cell;
  height: 100%;
  position: relative;
  vertical-align: top;
  padding-right: 25px;
}
.board_con .txt1{
  font-size: 36px;
  font-weight: 300;
  color: #0056a2;
  
}

.board_con p{
  width: 95%;
  font-size: 40px;
  font-weight: 300;
  color: #000;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.sns .board_con p{
  text-overflow: revert;
  white-space: unset;
}
.report .board_con{
  
}
.report .board_con p {
  display: table;
  width: 100%;
  text-overflow: revert;
  white-space: unset;
}
.report .board_con p::before{
  display: table-cell;
  content: "·";
  padding-right: 15px;
  font-size: 42px;
  font-weight: bold;
  
}
.board_con .txt3 {
  font-size: 36px;
  color: #646363;
  margin-right: 25px;
}
.board_con .txt2 {
  font-size: 36px;
  color: #646363;
}
.sns .board_con .txt2{
  width: 100%;
}
.con_box>ul>li>a{
  display: block;
  font-size: 42px;
  font-weight: 300;
  border-top: 2px solid #dcdddd;
  padding: 35px 25px;
  background: url(../img/down_icon.png) no-repeat ;
  background-position-x: calc(100% - 45px);
  background-position-y: center;
}
.con_box>ul>li>a.on{
  background: url(../img/up_icon.png) no-repeat;
  background-position-x: calc(100% - 45px);
  background-position-y: center;
}
.con_box>ul>li:last-child a{
  border-bottom: 2px solid #dcdddd;

}
.con_box>ul>li .board_con_wrap {
  overflow: hidden;
  height: 0;
}

.re_search_wrap {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 40px;
  height: 100px;
  border-bottom: 3px solid #e9e9e9;

}
.re_search_wrap input{
  display: inline-block;
  width: 35px;
  height: 35px;
  margin-right: 18px;
  margin-top: 4px;
  border-color;#787b7c: 
}
.re_search_wrap label{
  font-size: 33px;
  color: #787b7c;
}

.search .sub_nav{
  justify-content: flex-start;
  padding-left: 30px;
  margin-bottom: 0;
}
.search  .sub_nav li:first-child a{
  color: #000;
  font-weight: normal;
  border-bottom: 0px ;
  margin-bottom: 0px;
}
.search .sub_nav li a.on {
  color: #0056a2;
  font-weight: bold;
  border-bottom: 7px solid #0056a2;
  margin-bottom: -4px;
}
.con_title{
  display: flex;
  align-items: center;
  height: 142px;
  
  padding-left: 40px;
  background: #f4f7f8;
}
.con_title p{
  font-size: 54px;
  font-weight: 200;
}
.con_title p em{
  font-weight: 300;
}
.search .con_area{
  border-top: 4px solid #c9caca;
  margin-top:0px;
}
.search .con_box{
  padding: 0;
  border-top:0;
}
.search .con_box .title{
  padding: 0;
  padding-left: 60px;
  padding-right: 20px;
  height: 106px;
}
.search .con_box .title>span{
  font-weight: 300;
}
.search .con_box .title>span>span{
  font-weight: 200;
}
.search .con_box .title a {
  padding-right: 20px;
  font-size: 31px;
  color: #004ca0;
}
.search .board_con{
  padding-left: 40px;
  padding-right: 40px;
}
.search_con_wrap{
  border-top: 2px solid #eceff3;
  padding: 35px 40px;
  display: table;
  width: 100%;
}

.search_con_wrap .num {
  display:table-cell;
  color: #5b5b5b;
  font-size: 42px;
  padding-right: 30px;

}
.search_con{
  width: 100%;
  display:table-cell
}
.search_con>a>p{
  color: #5b5b5b;
  font-size: 42px;
  font-weight: 200;
}
.search_con>a>p>span{
  color: #000;
  font-weight: 300;
}
.search_con>a>p>span em{
  display: inline-block;
  font-weight: 300;
  background: #fcf79b;
  line-height: 1.2;
}
.search_con>a>span{
  display: block;
  color: #5b5b5b;
  font-size: 34px;
}
.search_con .btn_wrap{
  margin-top: 30px;
}
.search_con .btn_wrap a{
  display: inline-block;
  font-size: 30px;
  color: #fff;
  text-align: center;
  width: 237px;
  height: 70px;
  line-height: 70px;
  border-radius: 25px;
  margin-right: 28px;
}
.search_con .btn_wrap a.pdf{
  background: #0c4fad;
}
.search_con .btn_wrap a.green {
  background: #1b7edb url(../img/w_down_icon.png)  170px center no-repeat;
  text-align: left;
  padding-left: 40px;
}
.search_con .btn_wrap a.green.on {
  background: #1b7edb url(../img/w_up_icon.png) 170px center no-repeat;
}
.green_con{
  margin-top: 30px;
  font-size: 34px;
  color: #000;
  display: none;
}

.hidden {
  height: 100%;
  min-height: 100%;
  overflow: hidden !important;
  touch-action: none;
}
.bdt_n{
  border-top: 0px !important
}
select {
  width: 259px;
  min-width: 70px;
  padding: 8px 10px;
  height: 67px;
  font-size: 30px;
  vertical-align: middle;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #fff url(../img/triangle.png) no-repeat 207px center;
  background-size: 19px 17px;
  border: 1px solid #0056a2;
  padding-left: 30px;
  color: #999999;
}

.page_navi_wrap{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -30px;
  margin-bottom: 120px;
}
.page_navi_wrap a{
  width: 136px;
  height: 95px;
  color: #7a7a7a;
  border: 1px solid #e9e9e9;
  text-align: center;
  line-height: 95px;
  font-size: 60px;
  font-weight: 100;
}
.page_navi_wrap a i{
  font-weight: 100 !important;
}
.page_navi_wrap p {
  font-size: 45px;
  margin: 0px 10px;
  margin-left: 25px;
  margin-right: 10px;
}
.page_navi_wrap span{
  font-size: 45px;
  margin: 10px;
  color: #747474;
  margin-right: 25px;
}
.search_con_wrap.detail{
  border-top: 1px solid #eceff3;
  border-bottom: 3px solid #eceff3;
  padding-top: 25px;
}
.search_detail_con{
  border-bottom: 2px solid #dcdddd;

}
.search_detail_con span{
  font-size: 42px;
  color: #5b5b5b;
  font-weight: 200;
}
.search_detail_con p{
  margin-top: 20px;
  font-size: 46px;
  font-weight: 300;
  word-break: keep-all;
}
.search_detail_con div{
  margin-top: 20px;
  margin-bottom: 50px;
  font-size: 40px;
  word-break: keep-all;
  line-height: 1.2;

}
.detail_table{
  padding: 0 30px;
  padding-top: 60px;
  padding-bottom: 50px;
  
}
.detail_table table th{
  font-size: 38px;
  text-align: left;
  color: #5b5b5b;
  font-weight: normal;
  vertical-align: top;
  min-height: 65px;
  padding: 6px 0;
  width: 235px;
}
.detail_table table td{
  font-size: 38px;
  color: #000;
  text-align: left;
  font-weight: 300;
  vertical-align: top;
  min-height: 65px;
  padding: 6px 0;
  word-break: break-all;
}
.detail_table table td a{
  display: inline;
  color: #0056a2;
}
.detail_table table td button{
  display: inline-block;
  color: #fff;
  font-size: 30px;
  font-weight: 300;
  background: #1b7edb url(../img/link_btn.png) 135px center no-repeat;
  padding: 5px 50px 5px 20px;
  border-radius: 20px;
  margin-left: 10px;
  
}
.detail_table ul{
  margin-top: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.detail_table ul li{
  margin-right: 35px;
}
.green_wrap{
  border-top: 3px solid #eceff3;
  margin-top: 70px;
  padding-left: 70px;
  padding-right: 60px;
}
.green_wrap .green{
  font-size: 38px;
  width: 127px;
  text-align: left;
  background:  url(../img/b_down_icon.png) right center no-repeat;
  margin-top: 40px;
  margin-bottom: 30px;
}
.green_wrap .green_text{
  font-size: 38px;
  color: #5b5b5b;
  line-height: 1.7;
  padding-bottom: 40px;
}
.list_btn{
  display: block;
  width: 312px;
  height: 117px;
  background: #003879;
  color: #fff;
  font-size: 40px;
  text-align: center;
  line-height: 117px;
  margin: 0 auto; 
  margin-bottom: 80px;
  border-radius: 25px;
}
.filter_title {
  height: 138px;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 5px solid #c9caca;
}
.filter_title h3{
  color: #004ca0;
  font-size: 54px;
}
.filter_title h3 em{
  font-weight: 300;
}
.filter_title h3 span{
  font-weight: 200;
  padding-left: 15px;
}
.filter_title a{
  display: block;
  width: 354px;
  height: 94px;
  color: #1b7edb;
  font-size: 40px;
  font-weight: normal;
  border: 1px solid #1b7edb;
  border-radius: 20px;
  text-align: center;
  line-height: 94px;
}
.filter_title a i {
  font-size: 34px;
}
.select_box{
  padding:30px 40px;
}
.select_box ul li{
  width: 100%;
  margin-bottom: 25px;
}
.select_box ul li select{
  width: 100%;
  height: 142px;
  font-size: 44px;
  font-weight: 300;
  color: #000;
  border: 3px solid #eceff3;
  background: #fff url(../img/l_triangle.png) no-repeat 900px center;
  background-size: 30px 27px;
}
.btn_wrap {
  
  padding: 30px 40px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 130px;
  
}
.btn_wrap button{
  background: #818181;
  width: 312px;
  height: 117px;
  text-align: center;
  line-height: 117px;
  font-size: 40px;
  color: #fff;
  border-radius: 25px;
}
.btn_wrap button.action_btn{
  background: #003879;
}